
@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<br />
<br />

<form asp-action="Delete">

    <partial name="PartialViews/DeleteDetailsEmployeePartialView" model="Model"></partial>

    <br />

    <input type="submit" class="btn btn-danger" />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>

</form>
