
@{
    ViewData["Title"] = "CheckYourPhone";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">

        <div>
            <p> Password Reset Link has been sent to your Phone. Please Check your Dm </p>
        </div>

     

        <p>Don't have an Account? <a asp-action="SignUp"> Register Now!</a></p>
    </div>
</div>

@section ClientSideValidation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"> </script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}
